In [1]:
import pandas as pd

In [91]:
data = pd.read_csv(r"C:\Users\Meghavi Soni\Downloads\Python Pandas Assignment 5 String16920072501.csv",encoding='latin1')

In [93]:
data

,FF,Title,DIR
0,2005,1990: Bronx Warriors,Enzo Castellari
1,2005,Creep,Christopher Smith
2,2005,Feast,John Gulager
3,2005,G.O.R.A.,ÌÐmer Faruk Sorak
4,2005,Hakugei: Legend of the Moby Dick,Osamu Dezaki
...,...,...,...
904,2017,See You Up There,Albert Dupontel
905,2017,Tabula Rasa,Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906,2017,Wizard,Kagiso Lediga
907,2017,"Death of Stalin, The",Armando Iannucci
908,2017,Take It Out in Trade,Edward D. Wood Jr.

# What are the datatypes of the column of the dataset?

In [10]:
data.dtypes

FF        int64
Title    object
DIR      object
dtype: object

# Get the Basic Statistics of Dataset.

In [13]:
data.describe()

                FF
count   909.000000
mean   2011.656766
std       3.506274
min    2005.000000
25%    2009.000000
50%    2012.000000
75%    2015.000000
max    2017.000000

# Calculate the Length of the string in Title.

In [49]:
data["Title"]=data["Title"].str.len()

# Calculate the Length of the DIR column in dataset.

In [33]:
data['DIR']=data["DIR"].str.len()

# Check for the Datatype after checking the Length of the Title and DIR columns.

In [53]:
data.dtypes

FF        int64
Title     int64
DIR      object
dtype: object

# Convert Title column back to Object format from Numeric.

In [55]:
data["Title"]= data["Title"].astype(object)

# Convert DIR column back to Object format from Numeric.

In [58]:
data["DIR"]= data["DIR"].astype(object)

# Checking the Datatype after converting back to Object.

In [62]:
data.dtypes

FF        int64
Title    object
DIR      object
dtype: object

# Convert the Director's name in Upper case.

In [67]:
data["DIR"].astype(str).str.upper()

0                                      ENZO CASTELLARI
1                                    CHRISTOPHER SMITH
2                                         JOHN GULAGER
3                                    ÌÐMER FARUK SORAK
4                                         OSAMU DEZAKI
                            ...
904                                    ALBERT DUPONTEL
905    JONAS GOVAERTS & KAAT BEELS / MALIN-SARAH GOZIN
906                                      KAGISO LEDIGA
907                                   ARMANDO IANNUCCI
908                                 EDWARD D. WOOD JR.
Name: DIR, Length: 909, dtype: object

# Replace the & in the DIR column with and.

In [74]:
data["DIR"].astype(str).str.replace("&","and")

0                                        Enzo Castellari
1                                      Christopher Smith
2                                           John Gulager
3                                      ÌÐmer Faruk Sorak
4                                           Osamu Dezaki
                             ...
904                                      Albert Dupontel
905    Jonas Govaerts and Kaat Beels / Malin-Sarah Gozin
906                                        Kagiso Lediga
907                                     Armando Iannucci
908                                   Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

#  Remove the white space from the Left side of the string for Director column.

In [77]:
data["DIR"].astype(str).str.lstrip()

0                                      Enzo Castellari
1                                    Christopher Smith
2                                         John Gulager
3                                    ÌÐmer Faruk Sorak
4                                         Osamu Dezaki
                            ...
904                                    Albert Dupontel
905    Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906                                      Kagiso Lediga
907                                   Armando Iannucci
908                                 Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

# Remove the white space from the right side of the string for Director column.

In [80]:
data["DIR"].astype(str).str.rstrip()

0                                      Enzo Castellari
1                                    Christopher Smith
2                                         John Gulager
3                                    ÌÐmer Faruk Sorak
4                                         Osamu Dezaki
                            ...
904                                    Albert Dupontel
905    Jonas Govaerts & Kaat Beels / Malin-Sarah Gozin
906                                      Kagiso Lediga
907                                   Armando Iannucci
908                                 Edward D. Wood Jr.
Name: DIR, Length: 909, dtype: object

# Show the name of director with minimum length.

In [83]:
data["DIR"].min()

'    Jaume BalaguerÌ_, Paco Plaza '

# Show the name of director with maximum length.

In [85]:
data["DIR"].max()

'Ì÷ystein Karlsen'

# Remove the white space from the Left side of the string for Title column.

In [95]:
data["Title"].astype(str).str.lstrip()

0                  1990: Bronx Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei: Legend of the Moby Dick
                     ...
904                    See You Up There
905                         Tabula Rasa
906                              Wizard
907                Death of Stalin, The
908                Take It Out in Trade
Name: Title, Length: 909, dtype: object

# Remove the white space from the right side of the string for Title column.

In [98]:
data["Title"].astype(str).str.rstrip()

0                  1990: Bronx Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei: Legend of the Moby Dick
                     ...
904                    See You Up There
905                         Tabula Rasa
906                              Wizard
907                Death of Stalin, The
908                Take It Out in Trade
Name: Title, Length: 909, dtype: object

# Show the title of movie with minimum length.

In [101]:
data["Title"].min()

'1%'

# Show the title of movie with maximum length.

In [104]:
data["Title"].max()

'mon mon mon MONSTERS'

# Concatenate Title and directors with a space in between.

In [107]:
data['Title'] + ' '+ data['DIR']

0                   1990: Bronx Warriors Enzo Castellari
1                                Creep Christopher Smith
2                                     Feast John Gulager
3                             G.O.R.A. ÌÐmer Faruk Sorak
4          Hakugei: Legend of the Moby Dick Osamu Dezaki
                             ...
904                     See You Up There Albert Dupontel
905    Tabula Rasa Jonas Govaerts & Kaat Beels / Mali...
906                                 Wizard Kagiso Lediga
907                Death of Stalin, The Armando Iannucci
908              Take It Out in Trade Edward D. Wood Jr.
Length: 909, dtype: object

# Find the Hostel movie from the Title list.

In [110]:
data["Title"].astype(str).str.find("Hostel")

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
904   -1
905   -1
906   -1
907   -1
908   -1
Name: Title, Length: 909, dtype: int64

# Find the Ryan Schifrin from the Director's list.

In [113]:
data["DIR"].astype(str).str.find("Ryan Schifrin")

0     -1
1     -1
2     -1
3     -1
4     -1
      ..
904   -1
905   -1
906   -1
907   -1
908   -1
Name: DIR, Length: 909, dtype: int64

# Replace the space in Title name with underscore.

In [116]:
data['Title'].str.replace(' ', '_')

0                  1990:_Bronx_Warriors
1                                 Creep
2                                 Feast
3                              G.O.R.A.
4      Hakugei:_Legend_of_the_Moby_Dick
                     ...
904                    See_You_Up_There
905                         Tabula_Rasa
906                              Wizard
907                Death_of_Stalin,_The
908                Take_It_Out_in_Trade
Name: Title, Length: 909, dtype: object

# Replace the space in Dir name with underscore.

In [119]:
data["DIR"].str.replace(" ","_")

0                                      Enzo_Castellari
1                                    Christopher_Smith
2                                         John_Gulager
3                                    ÌÐmer_Faruk_Sorak
4                                         Osamu_Dezaki
                            ...
904                                    Albert_Dupontel
905    Jonas_Govaerts_&_Kaat_Beels_/_Malin-Sarah_Gozin
906                                      Kagiso_Lediga
907                                   Armando_Iannucci
908                                 Edward_D._Wood_Jr.
Name: DIR, Length: 909, dtype: object